Getway/Service References/BISAService/definition-poscardlessATC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sch1="http://xml.bisa.com/schema/aqua/version" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aqua.bisa.com/servicios/pos/atc/ws" xmlns:sch0="http://aqua.bisa.com/servicios/pos/atc/ws" targetNamespace="http://aqua.bisa.com/servicios/pos/atc/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://aqua.bisa.com/servicios/pos/atc/ws" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://aqua.bisa.com/servicios/pos/atc/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="purchasePOSATCRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="referenceNumber">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="22" />
                  <xsd:maxLength value="22" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="movilNumber">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="8" />
                  <xsd:maxLength value="8" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="smsPIN">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="4" />
                  <xsd:maxLength value="4" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="amount">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:minInclusive value="0" />
                  <xsd:maxInclusive value="999999999" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="currency">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="2" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="commerce">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="10" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="purchasePOSATCResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="referenceNumber" type="xsd:string" />
            <xsd:element minOccurs="0" name="cardNumber" type="xsd:string" />
            <xsd:element minOccurs="0" name="expiration" type="xsd:date" />
            <xsd:element minOccurs="0" name="code" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelOrQuestPOSATCRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="referenceNumber">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="22" />
                  <xsd:maxLength value="22" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="cause">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="1" />
                  <xsd:enumeration value="C" />
                  <xsd:enumeration value="Q" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelOrQuestPOSATCResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="referenceNumber" type="xsd:string" />
            <xsd:element minOccurs="0" name="cardNumber" type="xsd:string" />
            <xsd:element minOccurs="0" name="expiration" type="xsd:date" />
            <xsd:element minOccurs="0" name="code" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:tns="http://xml.bisa.com/schema/aqua/version" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xml.bisa.com/schema/aqua/version" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="versionRequest" />
      <xsd:element name="versionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="version" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="versionRequest">
    <wsdl:part name="versionRequest" element="sch1:versionRequest" />
  </wsdl:message>
  <wsdl:message name="purchasePOSATCResponse">
    <wsdl:part name="purchasePOSATCResponse" element="sch0:purchasePOSATCResponse" />
  </wsdl:message>
  <wsdl:message name="cancelOrQuestPOSATCRequest">
    <wsdl:part name="cancelOrQuestPOSATCRequest" element="sch0:cancelOrQuestPOSATCRequest" />
  </wsdl:message>
  <wsdl:message name="versionResponse">
    <wsdl:part name="versionResponse" element="sch1:versionResponse" />
  </wsdl:message>
  <wsdl:message name="cancelOrQuestPOSATCResponse">
    <wsdl:part name="cancelOrQuestPOSATCResponse" element="sch0:cancelOrQuestPOSATCResponse" />
  </wsdl:message>
  <wsdl:message name="purchasePOSATCRequest">
    <wsdl:part name="purchasePOSATCRequest" element="sch0:purchasePOSATCRequest" />
  </wsdl:message>
  <wsdl:portType name="aqua">
    <wsdl:operation name="purchasePOSATC">
      <wsdl:input name="purchasePOSATCRequest" message="sch0:purchasePOSATCRequest" />
      <wsdl:output name="purchasePOSATCResponse" message="sch0:purchasePOSATCResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelOrQuestPOSATC">
      <wsdl:input name="cancelOrQuestPOSATCRequest" message="sch0:cancelOrQuestPOSATCRequest" />
      <wsdl:output name="cancelOrQuestPOSATCResponse" message="sch0:cancelOrQuestPOSATCResponse" />
    </wsdl:operation>
    <wsdl:operation name="version">
      <wsdl:input name="versionRequest" message="sch0:versionRequest" />
      <wsdl:output name="versionResponse" message="sch0:versionResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="aquaSoap11" type="sch0:aqua">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="purchasePOSATC">
      <soap:operation soapAction="" />
      <wsdl:input name="purchasePOSATCRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="purchasePOSATCResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelOrQuestPOSATC">
      <soap:operation soapAction="" />
      <wsdl:input name="cancelOrQuestPOSATCRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelOrQuestPOSATCResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="version">
      <soap:operation soapAction="" />
      <wsdl:input name="versionRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="versionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="aquaService">
    <wsdl:port name="aquaSoap11" binding="sch0:aquaSoap11">
      <soap:address location="http://1.10.3.82:9010/AquaWar/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>